@font-face {
    font-family: 'nevis';
    src: url('../assets/fonts/nevis/nevis-Bold.woff2') format('woff2'),
        url('../assets/fonts/nevis/nevis-Bold.woff') format('woff'),
        url('../assets/fonts/nevis/nevis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}