nav {
    .menu {
        &__btn {
            &--solid {
                color: #2c3e50;
            }
            .open {
                font-family: "nevis";
                color: #fff;
                text-transform: uppercase;
            }
        }
        &__list {
            a {
                color: #000;
            }
        }
    }
}
