#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  .appBar{
    &__username{
      font-family: "nevis";
      font-size: 20px;
      color: white;
    }
    &__avatar {
      font-size: 25px;
      color: white;
    }
  }