#Signup,
#Login {
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    h2 {
        border: solid;
        margin-bottom: 2rem;
    }
    .signupForm,
    .loginForm {
        display: flex;
        flex-direction: column;
    }
}
