.form {
  &--login,
  &--signup {
    .formPanel {
      margin: 2rem auto;
      width: 40vw;
      max-width: 300px;
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 600px){
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &--message {
    .formPanel {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 40vw;
      max-width: 300px;
      @media all and (max-width: 600px){
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
