nav {
    display: flex;
    justify-content: flex-end;
    .slide-enter-active {
        transition: all 0.5s ease;
        @media all and (min-width: 768px) {
            transition: none;
        }
    }
    .slide-leave-active {
        transition: all 0.5s ease;
        @media all and (min-width: 768px) {
            transition: none;
        }
    }
    .slide-enter,
    .slide-leave-to {
        transform: translateX(100%);
        @media all and (min-width: 768px) {
            transform: none;
        }
    }
    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        bottom: 0;
        right: 0;
        width: 60%;
        max-width: 300px;
        background-color: #fff;
        z-index: 999;
        @media all and (min-width: 768px) {
            display: flex !important;
            align-items: center;
            width: 25%;
            padding-top: 3rem;
            top: 55px;
            left: 0;
            bottom: 0;
            z-index: 0;
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        }
        @media all and (min-width: 960px) {
            width: 23%;
        }
        @media all and (min-width: 1264px) {
            width: 17%;
        }
        &__btn {
            position: fixed;
            z-index: 998;
            top: 0;
            &--solid {
                background-color: #fff;
                box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
                opacity: 0.8;
            }
            @media all and (min-width: 768px) {
                display: none;
            }
            .open {
                display: flex;
                font-size: 1rem;
                padding: 0.7rem;
                background-color: rgba(19, 26, 92, 0.61);
                &:hover {
                    background-color: rgba(19, 26, 92, 1);
                }
                border-radius: 2rem;
                z-index: 0;
                cursor: pointer;
                i {
                    margin-right: 10px;
                    margin-top: 3.5px;
                }
            }
        }
        &__close {
            display: block;
            width: 15%;
            text-align: center;
            align-self: flex-end;
            margin-top: 1em;
            margin-right: 1em;
            padding: 0;
            background: none;
            line-height: 2.375em;
            cursor: pointer;
            @media all and (min-width: 768px) {
                display: none;
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            list-style-type: none;
            li:last-child {
                align-self: center;
                display: block;
                &::before {
                    border-top: solid 2px #e6e6e6;
                    content: "";
                    display: block;
                    width: 75%;
                    margin: 1.5rem auto 1rem auto;
                }
            }
            &__btn {
                margin-bottom: 2rem;
            }
            &__text {
                margin-left: 1.5rem;
                padding-top: 1.8px;
            }
        }
        &__control {
            &__logout {
                border-radius: 40px;
                transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
                &:hover{
                    background-color: #E47296;
                }
            }
        }
    }
}
