#Message {
  .post {
    &__origin {
      margin-bottom: 1.5rem;
    }
    /* border: 3px blue solid; */
    &__sign {
      &__avatar {
        color: white;
      }
      &__name {
        margin-left: 5px;
      }
    }
    &__likeIcon {
      cursor: pointer;
    }
  }
}
